.main-header {
    height: 700px;
    @include flexbox;
    @include flex-align(flex-start, center);
    position: relative;


    .header-description {
        color: $secondary-color;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: $secondary-font;
        font-weight: 700;
    }

    .header-bg {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 30%;
        z-index: 200;
        display: none;
    }

    .header-flowers {
        max-width: 8%;
        position: absolute;
        left: 0;
        top: 35%;
    }

    @media all and (min-width: $extra-large) {
        .header-bg {
            width: 40%;
        }
    }

    @media all and (min-width: $large) {
        .header-bg {
            display: block;
        }
    }
}

46.45